<header class="header">
    <% if (usuario != undefined) { %>
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <h2 class="logo"><a href="/">FoodLoverz<img src="images/logo.png" alt="" id="logoImg"></a></h2>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/users/logout">LOG OUT</a>
                                
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <a href="/agregarPost">Agregar post</a>
                        <a href="/miperfil">Mi perfil</a>
                        <form action="/resultadoBusqueda" class="uk-search uk-search-default" method="get">
                            <span uk-search-icon></span>
                            <input type="search" class="uk-search-input" placeholder="Buscar...">
                        </form>
                    </div>
                </nav>
            </div>
        </section>
        
       <% } else {%>
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <h2 class="logo"><a href="/">FoodLoverz<img src="images/logo.png" alt="" id="logoImg"></a></h2>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/users/registracion">REGISTRO</a></li>
                            <li><a href="/users/login">LOG IN</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <a href="/agregarPost">Agregar post</a>
                      <form action="/resultadoBusqueda" class="uk-search uk-search-default" method="get">
                            <span uk-search-icon></span>
                            <input type="search" class="uk-search-input" placeholder="Buscar..." name="busqueda">
                        </form>
                    </div>
                </nav>
            </div>
        </section>
        
        <%  }  %> 


</header>