/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */


.header{
    height: 70px;
    padding-top: 10px;
    background-color: #8FC0A9;
    font-family: 'Mulish', sans-serif;
}

header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a,
header a{
    color: white;
}
header nav ul li a:hover,
header a:hover{
    color: #294C60;
    text-decoration: none;
}
#logoImg{
    width: 5%;
}
.logo a{
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
}
.logo a:hover {
    text-decoration: none;
    color: #FFA526;
    text-shadow: red;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid white;
}
header .uk-navbar-right a{
    margin-right: 15px;
}

header .uk-grid-small{
    background-color:#8FC0A9;
    width: 200px;
}
header .uk-navbar-dropdown{
    background-color: #8FC0A9;
    width: 225px;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;
}