<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                    <h2>NUEVA PUBLICACIÓN</h2>
                    <form action="/agregarPost" method="post">
                        <label for="fname">Elegir foto o video</label><br>
                        <input type="file" id="fname" name="agregarPost"><br>
                        <label for="fname">Escribe un pie de foto o video</label><br>
                        <input type="text" id="fname" name="pie"><br>
                
                       
                       
                        <a href="/" class="boton">
							<input class="btn btn btn-info" type="button" onclick="alerta()" value="Compartir">
						</a>
                        <script>
							function alerta(){
								alert("Tu publicación ha sido compartida");
							}
						</script>
                    </form>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 
</body>

</html>