<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="/users/login" method="post">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                            <input class="uk-input" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" name="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <label for="">Recordar usuario</label><input type="checkbox" name="recordame" id="">
                    <% if(locals.erroresLogin){ %>
                        <p class="mensajeError" style="color: red;"> <%= erroresLogin.message %>
                        </p>
                    <% } %>
                    <p uk-margin>
                        <button class="uk-button uk-button-default" type="submit">Registrarse</button>
                    </p>
                    
                </form>
           
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>