<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">   
                    <h2>REGISTRATE</h2>
                    <form method="post" action="/users/registracion" enctype= "multipart/form-data">
                        <label for="fname">E-mail</label><br>
                        <input type="text" id="email" name="email"><br>
                        <% if(locals.errors){ %>
                            <p class= "error" > <%= errors.message %> </p>
                        <% } %>
                        <label for="fname">Nombre</label><br>
                        <input type="text" id="nombre" name="nombre"><br>
                        <label for="fname">Apellido</label><br>
                        <input type="text" id="apellido" name="apellido"><br>
                        <label for="fname">Nombre de usuario</label><br>
                        <input type="text" id="nombreDeUsuario" name="nombreDeUsuario"><br>
                        <label for="fname">Fecha de nacimiento</label><br>
                        <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento"><br>
                        <label for="fname">Celular</label><br>
                        <input type="number" id="celular" name="celular"><br>
                        <label for="lname">Contraseña</label><br>
                        <input type="password" id="contraseña" name="password"><br>
                        <label for="lname">Confirmar contraseña</label><br>
                        <input type="password" id="contraseña" name="confirmPassword"><br>
                        <label for="fname">Elegir foto de perfil</label><br>
                        <input type="file" id="fotoPerfil" name="fotoPerfil"><br>
                        <script>
							function alerta(){
								alert("¡Felicidades, te registraste exitosamente!");
							}
						</script>
                        <button>Registrarse</button>
						<!-- <a href="/miperfil" class="boton">
							<input class="btn btn btn-info" type="button" onclick="alerta()" value="Registrarse">
						</a> -->
                    </form>
            
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>


</body>

</html>