<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">   
                   
                    <form method="post" action="/users/registracion" enctype= "multipart/form-data">
                        <% if(locals.errors){ %>
                            <p class= "error" style="color: red;"> <%= errors.message %> </p>
                        <% } %>
                        
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                                <input class="uk-input" type="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user" ></span>
                                <input class="uk-input" type="text" name="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="nombreDeUsuario" placeholder="Nombre de Usuario">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                
                                <input class="uk-input uk-form-width-medium" type="date" name="fechaDeNacimiento" >
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: phone"></span>
                                <input class="uk-input" type="text" name="celular" placeholder="Télefono">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="password" name="password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="uk-margin" uk-margin>
                            <div uk-form-custom="target: true">
                                <input type="file">
                                <input class="uk-input uk-form-width-medium" type="text" name="fotoPerfil" placeholder="Añada una Foto de Perfil" disabled>
                            </div>
                        </div>
                        <p uk-margin>
                            <button class="uk-button uk-button-default" type="submit">Registrarse</button>
                        </p>
                    </form>
            
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>


</body>

</html>